.venv
venv
.env
.vscode
.vs
my-base-model
lora-adapters
Llama-3.3-70B-Instruct
.ipynb_checkpoints
.github
__pycache__
*.pyc
*.pyo
*.tar.zst
stderr.py
plots.py
bert_score.py
*.log
*.jsonl
*.csv
/src/data/results/scores.jsonl
src/data
PROMPTS.md
.replit
.replit.nix
node_modules
src/app/node_modules