modules = ["nodejs-20", "python-3.12", "web", "docker"]
run = "Start App"

[workflows]
runButton = "Run Project"

[[workflows.workflow]]
name = "Start App"
mode = "sequential"
author = 41646817

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/app && npm run dev"

[[workflows.workflow]]
name = "Env Setup"
mode = "sequential"
author = 41646817

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install uv && uv venv .venv"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "source .venv/bin/activate"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt && uv pip install -r requirements.txt"

[[workflows.workflow]]
name = "Start Server"
mode = "sequential"
author = 41646817

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Env Setup"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd src/api && fastapi dev main.py"

[[workflows.workflow]]
name = "Run Project"
mode = "parallel"
author = 41646817

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start App"

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8000
externalPort = 8000
exposeLocalhost = true

[deployment]
run = ["sh", "-c", "Start App"]

[nix]
channel = "stable-24_05"
