fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
requests==2.32.3
openai==1.58.1
pydantic==2.10.3
python-dotenv==1.0.1
websockets==14.1
aiofiles==24.1.0
supabase==2.9.1
pyjwt==2.10.1
numpy==1.26.0
torch==2.4.1+cpu
transformers==4.46.3
scikit-learn==1.5.2
pandas==2.2.3
deepeval==1.5.15
nltk==3.9.1
pathlib2==2.3.7
evaluate==0.4.3
datasets==3.1.0
bert_score==0.3.13
sacrebleu==2.4.3
rouge_score==0.1.2
sacremoses==0.1.1
sentence-transformers==3.3.1